.contact-container {
    display: grid;
    justify-content: center;
    color: black;
    margin: 25px;

}

.button {
    margin-top: 1rem;
    padding: 5px;
    cursor: pointer;
}

.name {
    display: flex;
    justify-content: start;
    padding: 5px;
}

.email {
    display: flex;
    justify-content: start;
    padding: 5px;
}

.subject {
    display: flex;
    justify-content: start;
    padding: 5px;
}

.submit {
    display: flex;
    justify-content: center;
    width: 70px;
    margin: 20px;
    border-radius: 15px;
    padding: 2px;

}

.input.name {
    display: flex;
    justify-content: center;
}

input {
    padding: 3px 20px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
}

.company {
    height: 40px;
}

.address {
    color: brown;
    height: 1px;
}

.cui {
    color: brown;
    height: 1px;
}

.region {
    color: brown;
    height: 1px;
}

.register {
    color: brown
}

.contactUs {
    color: brown;
    width: 600px;
    height: 10px;
}

.phone {
    height: 35px;
}

.mobile {
    color: blueviolet;
    height: 1px;
}

.able {
    color: brown;
    width: 600px;
    height: 5px;
}

.mail {
    height: 30px;
}

.mail-id {
    color: brown;
}

.textarea {
    display: flex;
    border-radius: 5px;
}

.send-message {
    display: flex;
    width: 1600px;
    height: 520px; 
    background-color: #7661b1;
    color: aliceblue;
    padding: 5em;
    text-align: center;
}