.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.carousel {
    max-width: 380px;
}

img {
    aspect-ratio: auto;
    width: 350px;
    height: auto;
}

.Details {
    max-width: 500px;
}