.container-details {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-items: center;
    flex-direction: column;
    margin: 20px;
    align-items: center;

}

.carousel {
    display: grid;
    padding: 20px;
    margin: 10px;
    max-width: 450px;

}

img {
    aspect-ratio: auto;
    width: 350px;
    height: auto;
}

.detailsContent {
    max-width: 500px;
}

.comment {
    font-style: italic;
}

.userName {
    font-weight: bold;
}